body {
  background-color: #333;
  color: #eee;
}

html, body {
        height: 100%;
        margin: 0;
    }

// cards

.cmn_card{
  background-color: #eee;
  border-radius: 0.5rem;
  color: #111;
  padding: 1rem;
}

// button

.cmn_button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff8800;
  color: #111;
  border: 0;
  font-family: Source Sans Pro;
  min-height: 2.5rem;
  padding: 0 1rem;
  border-radius: 0.75rem 0.75rem 0.75rem 0;
  font-weight: bold;
  letter-spacing: -0.02rem;
  outline: none;
  cursor: pointer;
}

.txtTomato{
  color: tomato;
}
